/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';
@import '_buttons.css';
@import '_forms.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans antialiased text-black bg-primary-dark;
}

/* Mobile Menu */
.btn-mobile-menu {
  @apply flex flex-col items-center justify-around w-8 h-8 transition duration-200 outline-none;

  &:focus {
    @apply outline-none;
  }
}

.btn-mobile-menu span {
  @apply relative w-8 h-[4px] rounded-sm transition-all duration-200 bg-white;
  transform-origin: 0;
}

.btn-mobile-menu.open span {
    &:first-child {
      transform: rotate(45deg);
      transform-origin: 0;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: 5%;
    }
}


.vertical-rl {
  writing-mode: vertical-rl;
}

.carousel-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.carousel-container::-webkit-scrollbar { /* WebKit */
  display: none;
}


.react-tabs li { 
  @apply opacity-25;
}

.react-tabs .react-tabs__tab--selected {
  @apply border-white opacity-100;
}